In [3]:
import pandas as pd
import datetime as dt

# Review of Python's datetime module

In [9]:
someday = dt.date(2010, 12, 20)

In [17]:
someday.year
someday.month
someday.day
str(someday)

'2010-12-20'

In [20]:
sometime = dt.datetime(2010, 12, 20, 17, 20, 20)

In [30]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second
str(sometime)

'2010-12-20 17:20:20'

# The pandas timestamp object

In [33]:
pd.Timestamp("2020-01-01")
pd.Timestamp("2020/01/01")
# bisa di input dengan format datetime apapun

Timestamp('2020-01-01 00:00:00')

# The DateTimeIndex

In [36]:
dates = ["2021-10-29", "2021-10-30", "2021-10-31"]
dtindex =pd.DatetimeIndex(dates)

In [37]:
values = [100, 200, 300]
pd.Series(values, index=dtindex)

2021-10-29    100
2021-10-30    200
2021-10-31    300
dtype: int64

# The pd.to_datetime() method

In [38]:
pd.to_datetime("2019-10-20")

Timestamp('2019-10-20 00:00:00')

# The pd.date_range() method

In [39]:
pd.date_range(start="2019-10-01", end="2020-10-01", freq="B")

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-07', '2019-10-08', '2019-10-09', '2019-10-10',
               '2019-10-11', '2019-10-14',
               ...
               '2020-09-18', '2020-09-21', '2020-09-22', '2020-09-23',
               '2020-09-24', '2020-09-25', '2020-09-28', '2020-09-29',
               '2020-09-30', '2020-10-01'],
              dtype='datetime64[ns]', length=263, freq='B')

In [42]:
pd.date_range(start="2021-12-01", periods=1000, freq="B")
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-06',
               '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
               '2021-12-13', '2021-12-14',
               ...
               '2025-09-17', '2025-09-18', '2025-09-19', '2025-09-22',
               '2025-09-23', '2025-09-24', '2025-09-25', '2025-09-26',
               '2025-09-29', '2025-09-30'],
              dtype='datetime64[ns]', length=1000, freq='B')

# Import financial dataset with pandas_datareader

In [3]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [9]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.541967
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.904980
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.912712

In [19]:
stocks.loc['2010-01-04']
stocks.loc[pd.Timestamp('2010-01-04')]
stocks.iloc[1000]
stocks.loc[[pd.Timestamp('2010-01-04'), pd.Timestamp('2010-01-05'), pd.Timestamp('2030-01-01')]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: DatetimeIndex(['2030-01-01'], dtype='datetime64[ns]', name='Date', freq=None). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [36]:
birthday = pd.date_range(start='1994-03-27', end='2021-12-31', freq=pd.DateOffset(years=1))

In [39]:
birthday_stock = stocks.index.isin(birthday)

In [41]:
stocks[birthday_stock]
stocks.loc[birthday_stock]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-03-27,32.700001,32.400002,32.650002,32.520000,36274900.0,26.495228
2013-03-27,28.450001,28.080000,28.139999,28.370001,36047400.0,23.807810
2014-03-27,39.970001,39.340000,39.740002,39.360001,35369200.0,34.003620
2015-03-27,41.430000,40.830002,41.119999,40.970001,34401400.0,36.349922
2017-03-27,65.220001,64.349998,64.629997,65.099998,18614700.0,60.895515
2018-03-27,95.139999,88.510002,94.940002,89.470001,56569000.0,85.444199
2019-03-27,118.209999,115.519997,117.879997,116.769997,22733400.0,113.398117
2020-03-27,154.889999,149.199997,151.750000,149.699997,57042300.0,147.300644

In [42]:
stocks.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2770)

In [43]:
stocks.insert(0, column='Day of Week', value=stocks.index.day_name())

In [44]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,30.990000,30.480000,30.980000,30.480000,31929700.0,23.541967
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904980
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912712
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765955
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518797
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,220.898361
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,223.089996
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,222.286713
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,219.837234
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,220.571106

In [48]:
stocks.index + pd.DateOffset(years = 1)

DatetimeIndex(['2010-12-31', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-08', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2021-12-17', '2021-12-18', '2021-12-21', '2021-12-22',
               '2021-12-23', '2021-12-24', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [57]:
stocks.index + pd.tseries.offsets.MonthEnd()
stocks.index - pd.tseries.offsets.MonthEnd()
stocks.index + pd.tseries.offsets.MonthBegin()
stocks.index - pd.tseries.offsets.MonthBegin()
stocks.index + pd.tseries.offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [53]:
stocks.tail(3)

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,222.286713
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,219.837234
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,220.571106

In [60]:
time_a = pd.Timestamp('1994-03-27 03:00AM')
time_b = pd.Timestamp('2021-03-27')
time_b - time_a

Timedelta('9861 days 21:00:00')

In [63]:
shipping = pd.read_csv('D:/udemy/data-analysis-with-pandas/part_one/ecommerce.csv', index_col="ID", parse_dates=["order_date", "delivery_date"])
shipping

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [65]:
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']

In [66]:
shipping.head(3)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days