In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_excel(r'D:\python\jupyter\kawalcovid-data.xls', sheet_name='daily_cases')
df = pd.DataFrame(data)
terbesar_sepuluh = df.sort_values(by=['Kasus Harian'], ascending=False).head(10)
terbesar_sepuluh
table = pd.pivot_table(terbesar_sepuluh, values=['Jakarta', 'Jabar', 'Jateng'], index=['Kasus Harian'], 
#                        columns=['Kasus Harian'], aggfunc=np.sum)
# table
# jakarta_df = df['Jakarta']
# jabar_df = df['Jabar']
# jateng_df = df['Jateng']
# kasus_harian = df['Kasus Harian']
# grby_tgl = df.groupby('Kasus Harian')
# avg_jakartadf = jakarta_df.mean()
# avg_jabardf = jabar_df.mean()
# avg_jatengdf = jateng_df.mean()
# sum_jakartadf = jakarta_df.sum()
# sum_jabardf = jabar_df.sum()
# sum_jatengdf = jateng_df.sum()
# grby_tgl.sum().plot.bar()
# print(grby_tgl.sum())
# plt.bar(grby_tgl)
# plt.show()

,Kasus Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo,?
228,2020-10-29,34.0,59.0,91.0,5.0,9.0,82.0,713.0,31.0,459.0,...,28.0,260.0,NaN,5.0,8.0,20.0,NaN,10.0,NaN,NaN
227,2020-10-28,74.0,68.0,170.0,7.0,23.0,45.0,844.0,32.0,403.0,...,43.0,253.0,3.0,13.0,106.0,125.0,3.0,2.0,2.0,NaN
226,2020-10-27,13.0,65.0,124.0,12.0,22.0,41.0,781.0,7.0,390.0,...,40.0,246.0,1.0,33.0,83.0,NaN,9.0,14.0,2.0,NaN
225,2020-10-26,40.0,67.0,120.0,1.0,NaN,26.0,906.0,9.0,431.0,...,45.0,205.0,4.0,NaN,6.0,167.0,1.0,1.0,2.0,NaN
224,2020-10-25,87.0,109.0,231.0,4.0,26.0,44.0,771.0,22.0,356.0,...,50.0,290.0,NaN,21.0,6.0,49.0,9.0,3.0,19.0,NaN
223,2020-10-24,88.0,76.0,105.0,5.0,8.0,44.0,1062.0,26.0,421.0,...,29.0,380.0,1.0,68.0,21.0,57.0,7.0,15.0,7.0,NaN
222,2020-10-23,90.0,78.0,145.0,NaN,33.0,28.0,952.0,24.0,504.0,...,62.0,276.0,7.0,26.0,97.0,49.0,NaN,19.0,NaN,NaN
221,2020-10-22,103.0,83.0,220.0,6.0,11.0,45.0,989.0,19.0,736.0,...,40.0,282.0,28.0,NaN,73.0,95.0,NaN,10.0,3.0,NaN
220,2020-10-21,79.0,87.0,171.0,15.0,2.0,33.0,1000.0,22.0,657.0,...,44.0,313.0,10.0,7.0,35.0,NaN,4.0,13.0,3.0,NaN
219,2020-10-20,98.0,75.0,79.0,7.0,35.0,13.0,964.0,39.0,472.0,...,36.0,167.0,11.0,20.0,17.0,129.0,15.0,4.0,NaN,NaN