In [2]:
import pandas as pd

In [4]:
bond = pd.read_csv("D:/udemy/data-analysis-with-pandas/part_one/jamesbond.csv", index_col="Film")
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [25]:
bond.loc["Goldfinger"]
Output None

SyntaxError: invalid syntax (<ipython-input-25-e93c49aecb04>, line 2)

In [18]:
bond.rename(mapper={"Goldfinger":"Gold Finger", "Sean Connery":"SeanConnery"}, axis="rows")
Output None

SyntaxError: invalid syntax (<ipython-input-18-2d210dfd9386>, line 2)

In [13]:
bond.columns = [column_name.replace(" ", "_") for column_name in bond.columns]
bond.head(1)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [6]:
def convert_number_to_string(number):
    return str(number) + " millions"

In [7]:
bond["Budget"] = bond["Budget"].apply(convert_number_to_string)
bond["Budget"]

Film
A View to a Kill                    54.5millions
Casino Royale                      145.3millions
Casino Royale                       85.0millions
Diamonds Are Forever                34.7millions
Die Another Day                    154.2millions
Dr. No                               7.0millions
For Your Eyes Only                  60.2millions
From Russia with Love               12.6millions
GoldenEye                           76.9millions
Goldfinger                          18.6millions
Licence to Kill                     56.7millions
Live and Let Die                    30.8millions
Moonraker                           91.5millions
Never Say Never Again               86.0millions
Octopussy                           53.9millions
On Her Majesty's Secret Service     37.3millions
Quantum of Solace                  181.4millions
Skyfall                            170.2millions
Spectre                            206.3millions
The Living Daylights                68.8millions
The Man with the Golden Gun         27.7millions
The Spy Who Loved Me                45.1millions
The World Is Not Enough            158.3millions
Thunderball                         41.9millions
Tomorrow Never Dies                133.9millions
You Only Live Twice                 59.9millions
Name: Budget, dtype: object

In [ ]:
# columns = ["Box Office", "Budget", "Bond Actor Salary"]
# for col in columns:
#     bond[col] = bond[col].apply(convert_number_to_string);
# bond.head(10)